.custom-toggle {
  position: relative;
  display: flex;


  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      border-radius: 2px;
      border: 1px solid rgba(72, 72, 72, 0.3);

      &::before {
        content: "";
        position: absolute;
        display: none;
        width: 9px;
        height: 8px;
        background-image: url("../img/svg/checkbox-checked.svg");
        background-repeat: no-repeat;
        transition: background-color 0.3s ease;
      }

      &:hover {
        border-color: $color-primary-charcoal;
      }

      &:focus {
        border-color: $color-primary-charcoal;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    background-color: $color-secondary-cerulean-blue;
    border-color: $color-secondary-cerulean-blue;

    &::before {
      display: block;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-default-white;

      &::before {
        background-image: url("../img/svg/checkbox-checked-blue.svg");
      }
    }
  }

  input:disabled + .custom-toggle__icon {
    border: 1px solid rgba(169, 175, 183, 0.5);
    background: rgba(169, 175, 183, 0.2);
  }

  input:checked:disabled + .custom-toggle__icon {
    border-color: $color-mischka;
    background: $color-mischka;

    &::before {
      background-image: url("../img/svg/checkbox-checked.svg");
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      border-color: #ff5e66;
      background: rgba(255, 94, 102, 0.2);
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
