.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;

  label {
    display: flex;
    width: 100%;
  }


  input,
  textarea {
    flex-grow: 1;
    max-width: 300px;
    min-height: 48px;
    margin-left: auto;
    padding: 10px;

    border: 1px solid rgba(#000000, 0.2);
    border-radius: 5px;
    outline: none;

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

    &:hover {
      border: 1px solid rgba(#000000, 0.5);
    }

    &:focus {
      border: 1px solid rgba(#000000, 0.8);
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-color: #ff5e66;
      background: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border-color: #ff5e66;
      }
    }
  }
}
