.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  color: $color-default-white;
  z-index: 3;
}

.header__wrapper {
  padding-top: 30px;

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;


  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 20px 15px 0;
  }

  ul {
    display: none;
  }
}

.header.open-menu {
  overflow-y: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  .nav__toggle-wrapper {
    background-color: $color-secondary-cerulean-blue;
  }

  .nav__toggle {
    background-color: $color-default-white;

    &::after {
      background-image: url("../img/sprite/cross.svg");
    }
  }

  ul {
    display: grid;
    gap: 17px;
    min-width: 286px;
    margin: 0;
    padding: 28px 25px;
    border-radius: 16px;
    background-color: $color-secondary-cerulean-blue;
    list-style: none;

    letter-spacing: 0.32px;
    text-transform: uppercase;
  }

  a,
  span {
    color: $color-default-white;
  }

  a + ul {
    display: none;
  }

  a.is-active {
    & + ul {
      display: grid;
      gap: 2px;
      min-width: 130px;
      padding: 10px 16px 0;
      text-transform: initial;
    }
  }

  .header__logo {
    height: fit-content;
  }

  @include vp-767 {
    .nav-header {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 90.63%;
    }
  }
}
