.hero__swiper {


  width: 100%;
  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__swiper-wrapper {
  width: 100%;
  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;

  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay-cerulean-blue;
  z-index: 1;
}

.hero__swiper-slide img {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.hero__slider-content {
  display: none;
}

.hero__swiper-slide.swiper-slide-active .hero__slider-content {
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 419px 100px 60px;
  z-index: 2;

  @include vp-1199 {
    padding: 676px 45px 60px;
  }

  @include vp-767 {
    padding: 200px 15px 20px;
  }


  &--third {
    padding-top: 409px;

    @include vp-1199 {
      padding-top: 663px;
    }

    @include vp-767 {
      padding-top: 232px;
    }
  }
}

.hero__swiper-pagination {
  position: absolute;
  top: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 94px;
  height: 38px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;

  @include vp-1199 {
    top: 638px;
  }

  @include vp-767 {
    width: 80px;
    height: 28px;
    border-radius: 12px 12px 0 0;
  }

  &::after {

    position: absolute;
    content: "";
    right: -18px;
    bottom: 0;

    width: 20px;
    height: 20px;
    transform: rotate(270deg);
    background-image: url("../img/sprite/angle.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__swiper-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-secondary-cerulean-blue;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &:hover,
  &:focus {
    border-color: $color-primary-charcoal;
  }

  &--active {
    background-color: $color-secondary-cerulean-blue;
  }
}

.hero__slider-content h2 {
  @include heading-h1;

  margin: 0;
  padding: 40px 50px 31px;
  width: 1034px;
  color: $color-secondary-cerulean-blue;
  background-color: $color-default-white;
  border-radius: 0 30px 30px 0;

  @include vp-1199 {
    padding: 31px 40px 24px;
    width: 659px;
  }

  @include vp-767 {
    padding: 20px 14px 16px;
    width: 100%;
    max-width: 364px;
    border-radius: 0 16px 16px 0;
  }
}

.hero__slider-content--third h2 {
  padding: 40px 50px 29px;
  margin-bottom: -6px;

  @include vp-1199 {
    padding: 30px 40px 26px;
  }

  @include vp-767 {
    padding: 19px 14px 18px;
  }
}

.hero__slider-info {
  position: relative;
  margin-top: -1px;
  padding: 0 50px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -25px;
    width: 26px;
    height: 26px;
    transform: rotate(0deg);
    background-image: url("../img/sprite/angle.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include vp-1199 {
      top: 4px;
    }

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
    }
  }

  &--third {
    padding-bottom: 28px;

    &::after {
      top: 5px;
    }
  }

  @include vp-1199 {
    margin-top: -4px;
    padding: 0 40px 32px;
    width: 591px;
  }

  @include vp-767 {
    margin-top: -5px;
    padding: 0;
    display: flex;
    width: 261px;
    flex-direction: column;
    background-color: transparent;
  }
}

.hero__slider-info p {
  @include text-regular;

  margin: 0;
  width: 472px;

  @include vp-1199 {
    width: 285px;
  }

  @include vp-767 {
    padding: 0 14px 11px;
    width: 261px;
    background-color: $color-default-white;
    border-radius: 0 0 16px 0;
  }
}

.hero__slider-btn-wrapper {
  @include vp-1199 {
    align-self: flex-start;
  }

  @include vp-767 {

    margin-top: -1px;
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -10px;
      width: 10px;
      height: 10px;
      transform: rotate(90deg);
      background-image: url("../img/sprite/angle.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hero__slider-btn {
  padding-left: 30px;
  width: 196px;

  @include vp-1199 {
    margin-top: 4px;
  }

  @include vp-767 {
    margin: 0;
    padding-left: 19px;
    width: 152px;
  }

  &:hover,
  &:focus-visible {
    color: $color-default-white;
    background-color: $color-secondary-cerulean-blue;

    .hero__icon-wrapper {
      background-color: $color-default-white;
    }

    svg {
      stroke: $color-secondary-cerulean-blue;
      transform: rotate(45deg);
      transition: transform $trans-default;
    }
  }

  &:active {
    .hero__slider-btn-text,
    svg {
      opacity: 0.7;
    }
  }

  &.disabled {
    color: $color-mischka;
    border: 1px solid $color-mischka;
    pointer-events: none;

    .hero__icon-wrapper {
      background-color: $color-mischka;
    }
  }
}

.hero__slider-btn-text {
  width: 56%;
}

.hero__icon-wrapper {
  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.hero__slider-btn svg {
  stroke: $color-default-white;
}
