.programs {

  margin: 0 auto;
  position: relative;
  padding: 125px 100px 118px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $color-secondary-alabaster;

  @include vp-1199 {
    padding: 104px 0 98px;
  }

  @include vp-767 {
    padding: 70px 0 67px;
  }


}

.programs__wrapper {
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  @include vp-1199 {

    padding: 0 0 0 5.86%;
  }

  @include vp-767 {
    padding: 0 4.69% 50px;
  }

  .link-button--programs {
    position: absolute;
    z-index: 10;
    top: -3px;
    right: 0;

    @include vp-1199 {
      top: -4px;
      // top: 102px;
      right: 45px;
    }

    @include vp-767 {
      top: 481px;
      right: 0;
      left: 15px;
      padding: 0 15px 0 30px;
      min-width: 203px;
      // width: 100%;
    }
  }
}

.programs__swiper {

  position: relative;
  max-width: 1240px;
  min-height: 482px;
  padding: 46px 0 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1199 {
    padding-top: 43px;
  }

  @include vp-767 {
    padding: 0 0 0px;
    min-height: 450px;
  }

  .programs__button {
    top: auto;
    width: 22px;
    height: 22px;
    color: transparent;
    display: flex;
    justify-content: center;

    @include vp-767 {
      top: 0;
    }
  }

  .programs__button.swiper-button-prev {
    @include vp-1199 {
      right: calc(5.86% + 32px);
    }

    @include vp-767 {
      right: 32px;
    }
  }

  .programs__button.swiper-button-next {
    @include vp-1199 {

      right: 5.86%;
    }

    @include vp-767 {
      right: 0;
    }
  }

  .programs__scrollbar.swiper-scrollbar {
    @media (min-width: 1200px) and (max-width: 1390px) {
      width: 91.45%;
    }
  }

  h2 {
    @include heading-h2;

    color: $color-secondary-cerulean-blue;
    font-size: 47px;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-top: -45px;
    margin-bottom: 44px;

    @include vp-1199 {
      font-size: 32px;
      margin-bottom: 42px;
    }

    @include vp-767 {
      font-size: 19px;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 31px;

    }
  }
}

.programs__slide {
  position: relative;
  width: fit-content;
  border-radius: 12px;
  overflow: hidden;
  background-color: $color-default-white;


  @include vp-767 {
    width: 290px;
  }

  img {
    width: 392px;
    height: 420px;

    @include vp-1199 {
      width: 324px;
      height: 420px;
      object-fit: cover;
    }

    @include vp-767 {
      width: 100%;
      height: 400px;
    }
  }
}

.programs__container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  max-width: 392px;
  max-height: 420px;
  height: 100%;
  padding: 20px;
  background: rgba(49, 109, 194, 0.2);
  overflow-x: auto;

  @include vp-1199 {
    max-width: 324px;
  }

  @include vp-767 {
    width: 100%;
    max-height: 400px;
    padding: 18px 10px;
  }

  h3 {
    position: relative;
    width: 194px;
    margin: 0;
    padding: 15px 10px 4px 18px;

    font-size: 23px;
    font-weight: 400;
    line-height: 108.3%;
    color: $color-secondary-cerulean-blue;
    background-color: $color-default-white;
    border-radius: 12px 12px 0 0;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: -17px;
      width: 18px;
      height: 18px;
      background-image: url("../img/sprite/angle.svg");
      transform: rotate(270deg);
    }

    @include vp-1199 {

      width: 173px;
      padding-top: 16px;

      font-size: 19px;
      line-height: 100%;
    }

    @include vp-767 {

      width: 146px;
      padding: 19px 10px 8px 18px;

      font-size: 15px;
      line-height: 112.5%;
    }
  }
}

.programs__container-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  // padding-bottom: 20px;
}

.programs__description {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 321px;
  height: fit-content;
  min-height: 79px;
  padding: 12px 18px 15px 18px;
  margin-top: -2px;

  border-radius: 0 12px 12px;
  background-color: $color-default-white;

  @include vp-1199 {
    max-width: 263px;
    min-height: 77px;

    p {
      max-width: 181px;
    }
  }

  @include vp-767 {
    max-width: 270px;
    min-height: 69px;

    p {
      max-width: 188px;

      font-size: 11.4px;
      line-height: 116%;
    }
  }

  p {
    max-width: 239px;
    margin: 0;

    font-size: 13px;
    line-height: 128.6%;

    @include vp-1199 {
      max-width: 181px;
    }

    @include vp-767 {
      max-width: 188px;
      font-size: 11.4px;
      line-height: 116%;
    }
  }

  .link-button {
    border: none;
    padding: 0;
    margin-left: auto;
    width: 30px;
    min-height: 30px;
    background-color: $color-default-white;

    &::before {
      width: 30px;
      height: 30px;
      right: 0;
    }

    &::after {
      right: 10px;
    }

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $color-default-white;
    }
  }
}

.programs__button-box {
  outline: 2px solid rgba(19, 227, 255, 0.8);
  outline-offset: -2px;

  position: relative;
  height: 22px;
  top: 40px;

  @include vp-1199 {
    top: 38px;
    right: 45px;
  }
  @include vp-767 {
    top: -432px;
    right: 0;
  }
}

.programs__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  z-index: 1;
  color: transparent;
  background-color: transparent;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 22px;
    background-image: url("../img/sprite/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $color-default-white;
  }

  &:active {
    background-color: $color-default-white;

    &::after {
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: transparent;

    &::after {
      background-image: url("../img/sprite/icon-arrow-disabled.svg");
    }
  }

  &--prev {

    // outline: 2px solid rgba(255, 0, 0, 0.8);
    // outline-offset: -2px;
    left: auto;
    right: 32px;

    &::after {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: 0;
  }
}
